{# src/Poll/PollBundle/Resources/views/Poll/view_poll.html.twig #}
{% extends 'PollPollBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="well">
			{{ form_start(form) }}
				<fieldset>
					<legend>Create a poll</legend>

					<div class="form-group">
						{{ form_errors(form.title) }}
						{{ form_widget(form.title, {"attr": {"class": "form-control", "placeholder": "Enter title"} }) }}
					</div>

					<div class="form-group">
						{{ form_errors(form.description) }}
						{{ form_widget(form.description, {"attr": {"class": "form-control", "rows": "3",
								"placeholder": "Enter short description (optional)"} }) }}
					</div>

					<div class="form-group">
						<select class="form-control">
							<option>Select question type</option>
							<option>Text question</option>
							<option>Single choice question</option>
							<option>Multiple choice question</option>
						</select>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" id="id1" placeholder="Enter question"/>
					</div>

					<div class="form-group">
						<textarea class="form-control" rows="3" id="textArea"
						          placeholder="Enter question options (each option on a new line)"></textarea>
					</div>
					<div class="pull-right">
						<button type="button" class="btn btn-success add-question">Add question</button>
						{{ form_widget(form.Submit, {"attr": {"class": "btn btn-primary"}}) }}
					</div>
				</fieldset>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}