{# src/Poll/PollBundle/Resources/views/Poll/view_poll.html.twig #}
{% extends 'PollPollBundle:Default:layout.html.twig' %}

{% form_theme form 'PollPollBundle:Theme:form_fields.html.twig' %}

{% block content %}
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="well">
			{{ form_start(form) }}
				<fieldset>
					<legend>{{ title }}</legend>

					<p class="help-block">{{ description }}</p>
					{{ form_widget(form) }}

					<div class="pull-right mr10">
						<div class="btn-group">
							<button type="button" class="btn btn-info">More</button>
							<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span
										class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">View results</a></li>
								<li><a href="{{ path('poll_edit_poll', {'poll_id': id}) }}">Edit poll</a></li>
								<li><a href="{{ path('poll_delete_poll', {'poll_id': id}) }}">Delete poll</a></li>
							</ul>
						</div>
					</div>
				</fieldset>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}