{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block textarea_widget %}
{% spaceless %}
    <textarea class="form-control" row="3" {{ block('widget_attributes') }} >{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
	      <div class={% if multiple %}"checkbox"{% else %}"radio"{% endif %}>
        {{ form_widget(child) }}
        {{ form_label(child) }}
	      </div>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}